<a href="https://colab.research.google.com/github/RoyAl5547/ENG-219-039-2023_____PROGRAMMING-II-Python-/blob/main/comp_programming_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, world!")

Hello, world!

#variables
store values for later use

In [ ]:
x=7 #assignment operator
y=3
z=x+y
print(z)

10

In [ ]:
total=x+y
total

10

variable names are case sensitive

In [ ]:
martin = "mwalimu"
print (martin)

mwalimu

##Types
integers
float
string
lists
dictionary

In [ ]:
type(x)

int

In [ ]:
3

#arithmetic operation
addition+
subtraction-
multiplication*
exponetiation
true division/e.g $x/y$ or $
floor division// $\ifloor{x/y}$
remainder{modulo}% e.g r mod s

In [ ]:
2**10

1024

In [ ]:
import math
math.sqrt(9)

3.0

In [ ]:
-13/4

-3.25

In [ ]:
-13//4

-4

## Exceptions and Tracebacks

In [ ]:
17 % 5

2

## Grouping Expressions with Parenthesis

In [ ]:
10 * (5+3)

80

In [ ]:
10 * 5 + 3

53

## Operator Precedence Rule
1. Parentheesis

2. Exponetiation

3. Multiplication, Division and Modulus

4. Addition and Subtraction

In [ ]:
3 * (4 - 5)

-3

In [ ]:
3 * 4 - 5

7

In [ ]:
(((3**2)**3)**2)

531441

##function "print" and intro to single and double quoted strings

In [ ]:
print("welcome to the python programming")

welcome to the python programming

printing a comma separated list

In [ ]:
print("welcome", "to", "python")

welcome to python

## printing many lines of text with one statement
use backlash (\)---escape character

\\ ---newline character
\t---new tab
//--insert a backlash character in a string
\"---

In [ ]:
print('weta said, "pythn is great"')

weta said, "pythn is great"

In [ ]:
print("welcome\nto\npython!")

welcome
to
python!

In [ ]:
name=input("what is your name?")

what is your name?wayne gurema omukubi

In [ ]:
name

'wayne gurema omukubi'

In [ ]:
print(name)

wayne gurema omukubi

In [ ]:
x=input("height")
y=input("heigh m")
z=input("height in cm")
numbers=(x,y,z)
total = x + y + z
count = 3
average = total / count
print("the average is")
print(average)

height88
heigh m88
height in cm88

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
x = float(input("Enter height 1: "))
y = float(input("Enter height 2 (in meters): "))
z = float(input("Enter height 3 (in centimeters): "))

total = x + y + z
count = 3
average = total / count

print("The average height is:", average)

Enter height 1: 88
Enter height 2 (in meters): 99
Enter height 3 (in centimeters): 44
The average height is: 77.0

In [ ]:
7 > 4

True

In [ ]:
7 >= 4

True

In [ ]:
#code from Dietel's book
""" Comparing two integers """
x = int(input("Enter first integer: "))
y = int(input("Enter second integer: "))
if x > y:
  print(x, "is greater than", y)

  if x == y:
    print(x, "is equal to", y)

    if x < y:
      print(x, "is less than", y)

    if x != y:
     print(x, "is not equal to", y)

    if x >= y:
     print(x, "is greater than or equal to", y)

    if x <= y:
     print(x, "is less than or equal to", y)

KeyboardInterrupt: Interrupted by user

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
    print("Adult.")
if age < 18:
    print("Minor.")
    if age < 18 and age > 12:
     print("Teenager.")
    if age <= 12:
      print("Child.")

Enter your age: 66
Adult.

##Boolean Operators

and __ A and B = Both conditions need to be satisfied

or ___ A or B - either one of the conditions can be satisfied

not ___ not A - negative condition A

# Introduction to Data Science

## Basic descriptive statistics
Minimum - min()

maximum - min()

range - range() ___ measure of dispersion/variability (determines how spread out our values are)

count - number of of values in a collection

sum - sum()

##Determine the Minimum of three numbers

In [ ]:
"""Find the minimum of three values."""
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))
minimum = number1

if number2 < minimum:
  minimum = number2

if number3 < minimum:
  minimum = number3

print('Minimum value is', minimum)

Enter first integer: 11
Enter second integer: 99
Enter third integer: 66
Minimum value is 11

##Determine the minimum and maximum with Built_In functions min() and max()

In [ ]:
max(187, 180, 160, 144)

187

In [ ]:
min(187, 180, 160, 144)

144

In [ ]:
heights = [187, 180, 160, 133]  #This is a list
type(heights)

list

In [ ]:
sum(heights)

660

##Addition program

Prompt user to enter digit x

Prompt user to enter digit y

Add the two numbers and store the result  [z = x + y]

output the result [print z]